button.add {  background-color:green; color:white}
button.del { background-color:red;color:white}
button.missing { background-color: red; color:white}
td {padding:3px}
table {margin-top:20px}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
img {padding:10px}